* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    margin:0;
    background-color: #f4f4f4;
    font-family: "Inter", sans-serif;
}


/*Navigation bar */ 



header {
    width: 100%;
    height: 85px;

    background-color: #f4ece5;

    display: flex;
    align-items: center;

    padding: 0 35px 0 25px;
}

/* Logo */

header .logo {
    width: 115px;
    height: auto;
    display: block;
}

/* Center navigation */

.navbar {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 55px;
    margin-left: 40px;
}

.navbar a {
    color: #3D622C;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

.navbar a:hover {
    color: #3D622C;
}

/* Search icon */

.header-actions .search {
    display: flex;
    align-items:center;
    justify-content:center;

    color: #3D622C;
    text-decoration:none;
}

.header-actions .search i{
    font-size: 16px;
    color: #3D622C;
}


.page-intro h1 {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.page-intro p {
    margin-top: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
}



.access-content {
    display: flex;
    gap: 30px;
    margin-top: 35px
}

.map-area {
    flex: 2;
    height: 360px;
    background-color: white;
    border-radius: 18px;
    overflow: hidden;
}

.map-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-desert-card {
    flex: 1;
    background-color: #c4cfbd;
    border-radius: 18px;
    padding: 25px;
}



.acess-message {
    display: flex;
    align-items: center;
    gap: 35px;

    margin-top: 30px;
    padding: 30px 45px;

    background-color: #c4cfbd;
    border-radius: 18px;
}
    
.acess-message p {
    margin: 0;
    color: #355f2e;
    font-size: bold;
}

